
<div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">PaddleSoft</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li ><a href="<%= page_path('home') %>">Home</a></li>
                  <li class="active"><a href="#">About</a></li>
                  <li><a href="#">Developers</a></li>
                </ul>
              </nav>
            </div>
          </div>