<div class="site-wrapper">

	<div class="site-wrapper-inner">

        <div class="cover-container">

			<div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">PaddleSoft</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li ><a href="<%= page_path('home') %>">Home</a></li>
                  <li class="active"><a href="#">About</a></li>
                  <li><a href="<%= page_path('developers') %>">Developers</a></li>
                  
                </ul>
                
              </nav>
            </div>
            

          </div>
          
             </div>
            <div class = "video">
             <iframe width="480" height="311" src="http://www.powtoon.com/embed/fHzgVzKxi0a/" frameborder="0"></iframe>
         </div>
         <div class = "about-faq">
          <p> <b> Frequently Asked Questions </b> </p>
          <p> What is PaddleSoft? </p> 
          <p> PaddleSoft is a social networking site and river database, built from the ground up for paddlers.   </p>
          <p> How is PaddleSoft different from other whitewater social networking sites? </p>
          <p> Yes but PaddleSoft is the only white social AND river database site. Many of these “other” websites use general prebuilt software that was not originally designed for the whitewater community. In addition PaddleSoft uses 
          advanced natural language processing algorithms to allow you to easily employ targeted searches for EXACTLY what you are looking for. You can type things like "Rivers my friends", "Videos of Sam paddling river x," "people who have
          paddled river x in a canoe", and "upcoming races near me". </p>
          <p> When will PaddleSoft be released? </p>
          <p> We do not have a set date yet, however we hoping for a beta release in Novemeber 2015 and a full release in January 2016. If you are curious about our development progess you can read our dev blog or suscribe for email updates.
          Or better yet, if you have some spare time you can <a href="<%= page_path('developers') %>">volunteer</a>          
           </p>
          <p> Is PaddleSoft free? </p>
          <p> Yes PaddleSoft  is 100% free to use. If you want to use PaddleSoft to sell paddling gear online then we will take
          a small percentage of the profit in order to pay the company that processes our payments and keep our server running.  </p>
          </div>
          </div> 
          </div>
          </div>
          