<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

<div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">PaddleSoft</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li ><a href="<%= page_path('home') %>">Home</a></li>
                  <li ><a href="<%= page_path('about') %>"> About</a></li>
                  <li class="active" ><a href="#">Volunteer</a></li>
                </ul>
              </nav>
            </div>
          </div> 
          
          </div>
          <b> Why help develop PaddleSoft? </b>
           <p> 
          Since PaddleSoft will be free, unfortunately we cannnot pay you, but there are still many great reasons to help
          with its development. 
          </p>
          <ul>
          <li>
          <b> 1. A chance to help the boating community. </b>
          <p> Some people volunteer to be race directors, others volunteer to take pictures, some volunteer to teach clinics. 
          Now you can help the boating community through your technical skills. PaddleSoft is 100% free and will help boaters tremendously. Now is  your chance to give back.
          </li>
          
          <li>
        	<b> 2. Get your name featured on the developers page. </b>
        	<p>
        	All developers will have their names featured on the developers page along with 
        	what they contributed to the project. For example Mike Davis, JavaScript Developer, greatly aided in frontend development with his JavaScript skill.
        	</p>
          </li>
          <li> 
          <b> 3. A great addition to any resume. </b>
          <p> </p>
          </li>
          <li>
          <b> 4. A possible future reference. </b>
          <p> We at PaddleSoft would be happy to reccommend you to a future employer. </p>
          </li>
           <li>
          <b> 5. A chance to work on a large scale project employing cutting edge technologies. </b>
          <p> PS is a large-scale production application that uses the latest and greatest computer science technologies. If 
          you want experience working with the newest techs here is your chance. </p>
          </li>
           <li>
          <b> 6. Networking opportunities. </b>
          <p> Network with other PaddleSoft developers. </p>
          </li>
          <li>
          <b> 7. Contribute as much or as little as you want </b>
          <p> Want to help but feel you don't have enough time? Fear not. With PaddleSoft you are free to contribute as or as little as you want. Whether you can push 
          one commit per month or one commit per hour, we will still be grateful.   </p>
          </li>
          
          
          </ul> 
		  So what are you waiting for? <%= link_to "volunteer", new_developer_path %>
          </div>
          </div>
          
         