<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

<div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">PaddleSoft</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li ><a href="<%= page_path('home') %>">Home</a></li>
                  <li ><a href="<%= page_path('about') %>"> About</a></li>
                  <li class="active" ><a href="#">Volunteer</a></li>
                </ul>
              </nav>
            </div>
          </div> 
          <div>
          </div> 
           Are you a developer? 
          </div>
          </div>
          </div>
          
         