<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

<div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">PaddleSoft</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li ><a href="<%= page_path('home') %>">Home</a></li>
                  <li ><a href="<%= page_path('about') %>"> About</a></li>
                  <li class="active" ><a href="#">Volunteer</a></li>
                </ul>
              </nav>
            </div>
          </div> 
          
          </div>
           PaddleSoft will be free, so unfortunately we cannnot pay you, but there are still many great reasons to help
          with its development. 
          <p>
          <b> 
          Why help develop PaddleSoft? </b>
          </p>
           <p> 
         
          </p>
          <ul>
          <li>
          <b> A chance to help the boating community. </b>
          <p> Some people volunteer to be race directors, others volunteer to take pictures, some volunteer to teach clinics. 
          Now you can help the boating community through your technical skills. PaddleSoft is 100% free and will help boaters tremendously. Now is  your chance to give back.
          </li>
          
          <li>
        	<b>  Get your name featured on the developers' page. </b>
        	<p>
        	All developers will have their names featured on the developers' page along with 
        	what they contributed to the project. 
        	</p>
          </li>
          <li> 
          <b> A great addition to any resume. </b>
          <p> Wow employers with the words: PaddleSoft Developer 2015-2016 on your resume.  </p>
          </li>
          <li>
          <b>  A possible future reference. </b>
          <p> We at PaddleSoft would be happy to recommend you to a future employer. </p>
          </li>
           <li>
          <b>  A chance to work on a large scale project employing cutting edge technologies. </b>
          <p> PS is a large-scale production application that uses the latest and most sophisticated computer science technologies. If 
          you want experience working with the newest techs here is your chance. </p>
          </li>
           <li>
          <b>  Networking opportunities. </b>
          <p> Exceptional opportunities to network with the many other worldclass PaddleSoft developers. </p>
          </li>
          <li>
          <b>  Contribute as much or as little as you want </b>
          <p> Want to help but feel you don't have enough time? Fear not. With PaddleSoft you are free to contribute as much or as little as you want. Whether you can push 
          one commit per month or one commit per hour, we will still be grateful.   </p>
          </li>
          
          
          </ul> 
          
		  <h1> So what are you waiting for? <%= link_to "Volunteer", new_developer_path %> </h1>
		  <p>
		  Not a developer? You can still help. Here's how: Tell your Friends  
		  </p>
          </div>
          </div>
          
         