
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">PaddleSoft</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="<%= page_path('about') %> ">About</a></li>
                  <li><a href="<%= page_path('developers') %> ">Volunteer</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Sign up to stay informed!</h1>
            <p class="lead">PaddleSoft is a paddling social networking site and river database dedicated to serving the needs of the paddling community.
            Unlike other paddling sites PaddleSoft is built from the ground up to help the paddler. 
            </p>
            <p class="lead">
              <a href="/possibles/new" class="btn btn-lg btn-default">Sign up now</a> <a href="<%= page_path('about') %>" class="btn btn-lg btn-info">Learn more</a>
            </p>
            <p class="lead">
            
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p> PaddleSoft Inc 2015.</p>
            </div>
          </div>

        </div>

      </div>

    </div>